body {
  background-color: #f9fafc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link.active {
  color: #ffc107 !important;
  font-weight: 600;
}

.navbar {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
